doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 List of Custom Objects
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th Fruit Name
          th Fruit Color
          th Fruit Shape
      tbody
        each fruit in data
          tr
            td #{fruit.properties.fruit_name || 'N/A'}
            td #{fruit.properties.fruit_color || 'N/A'}
            td #{fruit.properties.fruit_shape || 'N/A'}
